.idea/

.libs/
autom4te.cache/
build/
include/
modules/

config.h
config.h.in
config.h.in~
config.log
config.nice
config.status
configure
configure~
libtool
Makefile
Makefile.fragments
Makefile.objects
phreakscope.dep
phreakscope.la
phreakscope.lo
run-tests.php